@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Todo List</h1>
    <p class="lead">My Todo list application</p>
</div>

<div class="row">
    <div class="col-md-12">
        Simple app that lets you maintain a list of to-do items
    </div>
</div>
